input_data/buildings_with_section
input_data/networks
input_data/train_24h
input_data/transit_24h
input_data/transit_together_24h
input_data/destinations.csv
input_data/origins.csv
input_data/pt_zonal_jumps.xlsx
input_data/trips.csv
input_data/workers_eskuzaitzeta_2k.csv
input_data/workers_eskuzaitzeta_10k.csv
model/cache
model/data
model/models
model/results
model/logs
Papers
preprocessing/analysis_graphs.ipynb
preprocessing/name_to_latlong.ipynb
preprocessing/GTFS_train_24h.ipynb
preprocessing/GTFS_transit_24h.ipynb
preprocessing/data
preprocessing/logs
preprocessing/raw_data
preprocessing/secondary_data
auxiliar.docx
code_flow.pptx
Resultados_nuevo_modelo.docx
Resultados_que_voy_obteniendo.docx
Results_new.docx

